<!-- 
	Doesn't work yet, @190710

<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>BB-Date-Stamp</Title>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[//[BB$CURRENT_YEAR_SHORT $CURRENT_MONTH $CURRENT_DATE] ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
-->